@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rajdhani:wght@500&family=Righteous&display=swap');

body {
  background-color: rgb(241, 81, 82);
  font-family: 'Rajdhani';
}

h1 {
  font-family: 'monoton';
  font-size: 6em;
  text-align: center;
  color: rgb(58, 46, 57);
  background-color: rgb(237, 177, 131);
  border: solid rgb(58, 46, 57) 5px;
}

h2 {
  font-family: 'Righteous';
  text-decoration: underline;
  text-decoration-color: rgb(30, 85, 92);
  color: rgb(244, 216, 205);
  background-color: rgb(58, 46, 57);
  padding: 10px;
  border: solid rgb(241, 81, 82) 2px;
}

.sidebar {
  color: rgb(244, 216, 205);
  width: 35%;
  float: left;
  border: solid rgb(237, 177, 131) 5px;
  padding: 15px;
  margin-right: 20px;
  background-color: rgb(30, 85, 92);
  box-sizing: border-box;
}

.date-range {
  font-style: italic;
  font-size: small;
}

.container-color {
  background-color: rgb(244, 216, 205);
  border: solid rgb(237, 177, 131) 5px ;
}

.mainpic {
  float: right;
  border-radius: 50%;
  margin: 5px;
  width: 30%;
  box-sizing: border-box;
  border: solid rgb(237, 177, 131) 5px;
}

.card {
  background-color: rgb(237, 177, 131);
  margin: 10px;
}